<div class="stock-card-container" [class.negative-variation-card]="stock.variation < 0">
  <div class="stock-info-container">
    <h1>{{stock.name}}</h1>
    <img src="assets/Santander_icon.png" alt="Logo" width="30px" height="auto">
  </div>
  <div class="stock-company-container">
    <h3>{{stock.company}}</h3>
  </div>
  <div class="stock-value-container">
    <span class="value">{{stock.price | currency:'BRL'}}</span>
    <span class="variation" [class.negative-variation-value]="stock.variation < 0">
      {{variation}}%
    </span>
  </div>
  <div class="stock-time-container">
    <p>{{stock.date}}</p>
  </div>
</div>
